@model List<AcunMedyaProject0.Models.Tbl_Contact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>İletişim Sayfası</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ContactID</th>
                <th>Açıklama</th>
                <th>Adres</th>
                <th>Eposta</th>
                <th>Telefon</th>
                <th>Güncelle</th>
                <th>Sil</th>
                
            </tr>
        </thead>
        <tbody>
           @foreach(var item in Model)
            {
               <tr>

                   <td>@item.ContactID</td>
                   <td>@item.Description</td>
                   <td>@item.Address</td>
                   <td>@item.Email</td>
                   <td>@item.Phone</td>
                   <td><a href="#" class="btn btn-danger">Güncelle</a></td>
                   <td><a href="/Contact/DeleteContact/@item.ContactID" class="btn btn-dark">Sil</a></td>
               </tr>

            }
        </tbody>
    </table>
    <a href="/Contact/CreateContact" class="btn btn-success">Ekle</a>
</div>

