@model List<AcunMedyaProject0.Models.Tbl_Message>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Mesajlar Sayfası</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>MessageID</th>
                <th>İsim/Soyisim</th>
                <th>E-posta adresi</th>
                <th>Konu</th>
                <th>Mesaj İçeriği</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MessageID</td>
                    <td>@item.NameSurname</td>
                    <td>@item.Mail</td>
                    <td>@item.Subject</td>
                    <td>@item.MessageContent</td>
                    <td><a href="#" class="btn btn-dark">Güncelle</a></td>
                    <td><a href="/Message/DeleteMessage/@item.MessageID" class="btn btn-danger">Sil</a></td>
                </tr>
            }
            </tbody>
        </table>
    <a href="/Message/CreateMessage" class="btn btn-success">Ekle</a>
</div>


