@model List<AcunMedyaProject0.Models.Tbl_About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";

}

<h2 class="modern-title">Burası hakkımda sayfası</h2>

<div class="table-wrapper">
    <table class="my-table">
        <thead>
            <tr>
                <th>AboutID</th>
                <th>Kategori Resmi</th>
                <th>Başlık</th>
                <th>Doğum Günü</th>
                <th>Web Sitesi</th>
                <th>Telefon</th>
                <th>Şehir</th>
                <th>Yaş</th>
                <th>E posta</th>
                <th>Freelance</th>
                <th>Açıklama1</th>
                <th>Açıklama2</th>
                <th>Eğitim Seviyesi</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AboutID</td>
                    <td><img src="@item.ImageURL" style="width:50px" /></td>>
                    <td>@item.Title</td>
                    <td>@item.BirthDay</td>
                    <td>@item.WebSite</td>
                    <td>@item.Phone</td>
                    <td>@item.City</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    <td>@item.FreeLance</td>
                    <td> <div class="cell-content">@item.Description1</div></td>
                    <td> <div class="cell-content">@item.Description2</div></td>
                    <td>@item.Degree</td>
                    <td><a href="/About/UpdateAbout/@item.AboutID" class="btn btn-danger">Güncelle</a></td>
                    <td><a href="/About/DeleteAbout/@item.AboutID" class="btn btn-dark">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/About/CreateAbout" class="btn btn-success">Ekle</a>
</div>










