@model List<AcunMedyaProject0.Models.Tbl_Education>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h2 style="background-color:red">Burası eğitim sayfası</h2>


<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Kurum Sırası</th>
                <th>EducationID</th>
                <th>Başlangıç Yılı</th>
                <th>Bitiş Yılı</th>
                <th>İsim</th>
                <th>Açıklama</th>
                <th>Bölüm</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
               
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@item.EducationID</td>
                    <td>@item.StartYear</td>
                    <td>@item.EndYear</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Section</td>
                    <td><a href="/Education/UpdateEducation/@item.EducationID" class="btn btn-danger">Güncelle</a></td>
                    <td><a href="/Education/DeleteEducation/@item.EducationID" class="btn btn-dark">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Education/CreateEducation"class="btn btn-success">Ekle</a>
</div>