@model List<AcunMedyaProject0.Models.Tbl_Project>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Proje Sayfası</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ProjectID</th>
                <th>Proje İsmi</th>
                <th>Açıklama</th>
                <th>Proje Linki</th>
                <th>Resim1</th>
                <th>Resim2</th>
                <th>Resim3</th>
                <th>CategoryID</th>
                <th>Güncelle</th>
                <th>Sil</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProjectID</td>
                    <td>@item.ProjectName</td>
                    <td>@item.Description</td>
                    <td>@item.ProjectLink</td>
                    <td>@item.Image1</td>
                    <td>@item.Image2</td>
                    <td>@item.Image3</td>
                    <td>@item.CategoryID </td>
                    <td><a href="#" class="btn btn-dark">Güncelle</a></td>
                    <td><a href="/Project/DeleteProject/@item.ProjectID" class="btn btn-danger">Sil</a></td>
                </tr>
            }

        </tbody>
    </table>
    <a href="/Project/CreateProject" class="btn btn-success">Ekle</a>
</div>

