@model List<AcunMedyaProject0.Models.Tbl_Jobs>

<div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
    <h3 class="resume-title">Professional Experience</h3>
    <div class="resume-item">
        @foreach (var item in Model)
        {
            <h4>@item.Title</h4>
            <h5>@item.StartDate - @item.EndDate</h5>
            <p><em>@item.CompanyName </em></p>
            <ul>
                <li>@item.Description</li>

            </ul>
        }
    </div>

</div>





