@model List<AcunMedyaProject0.Models.Tbl_Project>

<section id="portfolio" class="portfolio section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">
        @foreach(var item in Model)
    {
    <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".@item.Tbl_Category.FiltterClass">@item.Tbl_Category.CategoryName</li>
            <li data-filter=".@item.Tbl_Category.FiltterClass">@item.Tbl_Category.CategoryName</li>
            <li data-filter=".@item.Tbl_Category.FiltterClass">@item.Tbl_Category.CategoryName</li>
        </ul><!-- End Portfolio Filters -->

        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-@item.CategoryID">
                <img src="@item.Image1" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>@item.ProjectName</h4>
                    <p>@item.Description</p>
                    <a href="@item.Image2" title="@item.ProjectName" data-gallery="portfolio-gallery-@item.Tbl_Category.CategoryName" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
            </div><!-- End Portfolio Item -->
            <!-- End Portfolio Item -->


        </div><!-- End Portfolio Container -->

    </div>
}
    </div>


</section> 