@model List<AcunMedyaProject0.Models.Tbl_Skill>

<section id="team" class="skills section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Skills</h2>
        <p>On this page, you can explore the skills and expertise I have acquired throughout my career.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">

            <div class="col-lg-6">
                @foreach (var item in Model.Where((s, index) => index % 2 == 0))
                {
                    <div class="progress">
                        <span class="skill"><span>@item.SkillName</span> <i class="val">@item.Percentage%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@item.Percentage" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- End Skills Item -->
                }
            </div>

            <div class="col-lg-6">
                @foreach (var item in Model.Where((s, index) => index % 2 != 0))
                {
                    <div class="progress">
                        <span class="skill"><span>@item.SkillName</span> <i class="val">@item.Percentage%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@item.Percentage" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- End Skills Item -->
                }
            </div>

        </div>

    </div>

</section>


